/node_modules
.env
public/uploads/profile-photos/*
!public/uploads/profile-photos/defaultusericon.png
public/uploads/team-logos/*
!public/uploads/team-logos/VA_logo.png
src/modules/home/credentials.json
