/node_modules
.env
.env-UAT
public/uploads/profile-photos/*
!public/uploads/profile-photos/defaultusericon.png
public/uploads/team-logos/*
!public/uploads/team-logos/Team_Logo.png
src/modules/google_apis/credentials.json
repomix-output.xml
