/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
    --font-road-rage: 'Road Rage', sans-serif;

  /* Effects */
}
/* Figma Color Variables of your File */
:root,
[data-variable-collection-mode="mode-1"] {
  /* mode-1 */
  --gunmetal: #40464b;
  --carbon-black: #1f1f1f;
  --iron-gray: #40464b;
  --porcelain: #fffffc;
}

@font-face {
  font-family: 'Road Rage';
  src: url('/fonts/Road_Rage.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}